extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/orders.css")

block content
    main
        if orders.length > 0
            ul.orders
                each order in orders
                    li.orders__item
                        h1= `# ${order._id}`
                        ul.orders__products
                            each item in order.items 
                                - const product = item.productId
                                li.orders__products-item= `${product.title} (${item.quantity})`
        else
            h1 Nothing there!