{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "parser": "flow",
  "printWidth": 75,
  "overrides": [
    {
      "files": [
        "*.json",
        "*.jsonc",
        "*.json5",
        "*.prettierrc",
        "*.eslintrc"
      ],
      "options": {
        "parser": "json"
      }
    }
  ]
}
